{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title display-4">{{ character['name'] }}</h1>
            <p class="card-text"><strong>Status:</strong> {{ character['status'] }}</p>
            <p class="card-text"><strong>Species:</strong> {{ character['species'] }}</p>
            <p class="card-text"><strong>Gender:</strong> {{ character['gender'] }}</p>
            <p class="card-text"><strong>Origin:</strong> {{ character['origin']['name'] }}</p>
            <p class="card-text"><strong>Location:</strong> {{ character['location']['name'] }}</p>
        </div>
    </div>
</div>
{% endblock %}
